* {
    background-color: gainsboro;
    font-family: 'Andale Mono', monospace;
    line-height: 1.5;
}

header {
    background-color: darkslategray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    width: 100%;
    z-index: 1;
    font-family: 'Andale Mono', monospace;
}

h1 {
    /* padding: 20px; */
    padding: 10px 10px 10px 30px;
    font-size: 30px;
    color: darkslategray;
    background-color: #E9D8A6;
    margin: 20px 20px 20px 0px;
}

nav {
    background-color: darkslategray;
    /* position: fixed; */
    /* color: darkslategray; */
}

ul {
    /* background-color: bisque; */
    background-color: darkslategray;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

li {
    /* display: inline; */
    background-color: darkslategray;
    color: #E9D8A6;
    margin: 15px 10px 10px 10px;
    padding: 0px 5px 3px 5px;
    font-size: 26px;
    border-bottom: 3px slategray solid;
    text-align: center;
}

a {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}

figure img {
    width: 100%;
    height: 10%;
}

.info {
    display: flex;
    margin: 5%;
    /* align-items: flex-end; */
    justify-content: flex-end;
    /* align-items: center; */
}

.info h2 {
    /* background-color: thistle; */
    font-size: 48px;
    font-weight: bold;
    margin-right: 40px;
    padding-right: 10px;
    border-right: 4px solid #005F73;
    text-align: right;
    width: 200px;
}

.info > p {
    /* background-color: #bb3e03ff; */
    border: 3px solid #bb3e03ff;
    width: 80%;
    padding: 0px 15px;
    display: flex;
    align-items: center;
}

.imgs {
    width: 83%;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured {
    justify-content: center;
    position: relative;
    width: 80%;
    padding-bottom: 20px;
    /* left: -10px; */
}

.featured img {
    max-width: 100%;
    max-height: 100%;
    border: 5px solid #bb3e03ff;
    /* margin: 0 0 0 80px; */
}

.featured h3 {
    background-color: wheat;
    position: absolute;
    left: 0;
    bottom: 50px;
    font-size: 24px;
    font-style: bold;
    /* display: inline-block; */
    display: block;
    padding: 10px;
}

.featured img:hover {
    max-width: 110%;
    max-height: 110%;
    width: 110%;
    margin: -5%;
}

.featured a:hover h3 {
    left: -21px;
}

.work-imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px 30px;
    position: relative;
    width: 80%;
}

.work-imgs div {
    position: relative;
    display: inline-block;
    /* margin: 0 -145px 0 0; */
}

.work-imgs img {
    max-width: 100%;
    border: 5px solid #bb3e03ff;
    display: inline-block;
}

.work-imgs h3 {
    background-color: wheat;
    position: absolute;
    left: 0px;
    bottom: 20px;
    font-size: 14px;
    font-style: bold;
    display: inline-block;
    padding: 10px;
}

.work-imgs img:hover {
    max-width: 110%;
    width: 110%;
    margin: -5%;
}

.work-imgs a:hover > h3 {
    left: -10px;
    /* background-color: chartreuse; */
}

.imgs .captions {
    position: absolute;
}

.contact-info {
    border: 5px solid #bb3e03ff;
    width: 80%;
    padding: 0px 15px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-info * {
    display: inline-block;
}

@media screen and (max-width: 768px) {



    .info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info h2 {
        border: transparent;
        border-bottom: 4px solid #005F73;
        /* width: 300px; */
        text-align: start;
        display: inline-block;
        width: 100%;
        margin-bottom: 5%;
        margin-left: 8%;
        padding-left: 20px;
    }

    .imgs {
        width: 100%;
    }

    h3 {
        /* visibility: hidden; */
        position: relative;
        display: inline-block;
    }

    .contact-info {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 515px) {
    ul {
        flex-direction: column;
    }
}